<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1" data-toggle="tab">自行车</a></li>
    <li><a href="#tab2" data-toggle="tab">电脑</a></li>
	<li><a href="#tab3" data-toggle="tab">手机</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		

		
		<ul class="thumbnails">
		  <% @items.each do |item| %>
		  <li class="span3">

		    <a href="<%= item_path(item) %>" class="thumbnail">
			  <%= image_tag(item.excerpt_image.url(:thumb)) %>
		    </a>
			
		  </li>
		  <% end %>
		  
		</ul>
		

	  <br />


      
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
	
  </div>
</div>

